<!-- Start footer -->
<footer id="mu-footer">
  <div class="mu-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-footer-bottom-area">
            <p class="mu-copy-right">&copy; Copyright <a rel="nofollow" href="#">International Students</a>. All right reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>